[submodule "Industrial-Communication-Standards-Team-H-"]
	path = Industrial-Communication-Standards-Team-H-
	url = https://github.com/ismailhshl/Industrial-Communication-Standards-Team-H-.git
[submodule "Advanced-Embedded-Engineering-LAB"]
	path = Advanced-Embedded-Engineering-LAB
	url = https://github.com/raihan4hshl/Advanced-Embedded-Engineering-LAB.git
